body{
  padding-top:10rem ;
  background-color: rgb(250, 231, 220);
}

#search{
  padding-left: 20px;
  font-size: 1.2rem;
  height: 3rem;
  border-radius: 16px;
  width: 30rem;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
h2{
  color: rgb(151, 179, 199);
  text-align: center;
  font-size: 3rem;
}
h4{
  color: white;
  font-size: 1.7rem;
  font-family: 'Ysabeau Infant', sans-serif;
  text-align: center;
}
#searchUsername, #searchUserRepo{
  font-size: 1.2rem;
  background-color: white;
  border: 2px solid rgb(242, 242, 242);
  border-radius: 15px;
  padding: 8px 12px;
  font-family: 'Ysabeau Infant', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: 5px;
}


#repoLink{
  padding: 5px;
  margin-top: 3rem;
  margin: auto;
  color: rgb(255, 255, 255);


}

